
hr{
    border: 1px solid rgb(156 156 156);
    width: 65%;
}

header{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 12%;
}

header .data1{
    text-align: center;
    line-height: 0.5;
    font-size: 12px;
    margin-top: 2%;
}
header .data2{
    width: 250px;
    font-size: 12px;
    text-align: center;
    margin-top: 3%;

}
header .data2 h2{
    margin: 0px;
    word-spacing: 2px;
}

header .data2 h3,
header .data2 p{
width: 70%;
text-align: center;
margin: 0px 50px;
}

main{
    width: 73%;
    margin-left: 12%;
    direction: rtl;
}
.container{
    display: flex;
    justify-content: space-around;
}
main img{
    transform: rotate(-30deg);

}

footer h3{
    text-align: center;
}
footer hr{
    border: 3px solid rgb(85, 82, 82);
}



@media (max-width: 897px) {

    header .data1 {
        text-align: center;
        line-height: 0.5;
    }
    main table {
        width: 80%;
        margin: 20px 10%;
    }
}

@media (max-width: 850px) {

    
    header img{
        width: 120%;
    }
    header .image{
        width: 30%;
        margin: 60px 50px 0px;
    }
    hr{
        width: 80%;
    }
    
    header .data1 {
        width: 270px;
    font-size: 9px;
    text-align: center;
    margin-top: 10%;
    line-height: 1;

    }
    header .data2{
    width: 60%;
    font-size: 9px;
    text-align: center;
    margin-top: 12%;
    line-height: 1.5;
    }
    header .data2 p,
    header .data2 h3{
        text-align: center;
        margin-left: 30px;
    }

    header .data1 p,
    header .data1 h1,
    header .data1 h3{
        margin: 10px 5px;
    
    }


}


@media (max-width: 576px) {
    header{
        flex-direction: column-reverse;
    }
    header img{
        width: 130%;
    }
    header .image{
        width: 30%;
        margin: 0% 25%;
    }
    hr{
        width: 80%;
    }
    header .data1 {
        width: 75%;
    font-size: 10px;
    text-align: center;
    margin-top: 10%;
    line-height: 1;
    margin: 0% 5%;


    }
    header .data2{
    display: none;
    }
    
}












